.element.style {
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 20;
    visibility: inherit;
    opacity: 1;
}
.rs-slide, rs-slide:before {
    display: block;
    visibility: hidden;
}
.rs-slides, rs-slide, rs-slide:before {
    position: absolute;
    text-indent: 0em;
    top: 0px;
    left: 0px;
}
.rs-module-wrap, rs-module-wrap * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.Style Attribute {
    visibility: visible;
    display: block;
    max-height: none;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.rs-layer-wrap, rs-mask, rs-module-wrap, rs-module .rs-layer, rs-module img {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}
.body, body p {
    text-transform: none;
}
.body, body p {
    font-family: 'Open Sans';
    font-weight: 400;
}
.body {
    background: #fff;
    color: #666;
    cursor: auto;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
}
.html, body {
    font-size: 100%;
}
.rs-slide, rs-slide:before {
    display: block;
    visibility: hidden;
}
.rs-slides, rs-slide, rs-slide:before {
    position: absolute;
    text-indent: 0em;
    top: 0px;
    left: 0px;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}